<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

<title>Spring Security OAuth</title>
<link href="../static/css/app.css" th:href="@{/css/app.css}"
	rel="stylesheet" type="text/css" />
<link rel="stylesheet" th:href="@{/css/bootstrap.css}"
	href="../static/css/bootstrap.css" type="text/css" />
	 <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../static/css/ bootstrap.min.css" />
</head>
<body>
	
	 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" >AVS Web App</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a th:href="@{/home}">Home</a></li>
            <li ><a th:href="@{/token}">Token </a></li>
        <li><a th:href="@{/contacts}">Contacts</a></li>
         <li><a th:href="@{/about}">About</a></li>
      </ul>
     
    </div>
  </div>
</nav>
	<div id="mainWrapper">
		<div class="login-container">
			<div class="login-card">
				<h1 align="center">Avril Support Web App</h1>
				<p></p>

				<p>
					<a th:href="@{/token}" class="btn btn-primary btn-block">Click
						here to get OAuth Token</a>
				</p>
			</div>
		</div>
	</div>
 <div id="footer" class="col-md-12 loginBottom">
      <div class="col-md-6">
			&copy; Avril Intellectual Property. All Rights Reserved
		</div>
		<div class="col-md-6 listBottom">
			<ul>
				<!-- <li><a th:href="@{/#}">Terms  Conditions</a></li>
				<li><a th:href="@{/#}">Privacy Policy</a></li>
				<li><a th:href="@{/#}">Write to Avril support</a></li> -->
				<li><a >Terms  Conditions</a></li>
				<li><a >Privacy Policy</a></li>
				<li><a >Write to Avril support</a></li>
			</ul>
		</div>
		</div>
    </body>
</html>